body {
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

table {
    border-spacing: 0;
    margin: 0;
    width: 75%;
}

tr {
    height: 2rem;
    vertical-align: top;
}

td {
    padding: 0 1rem;
    max-width: 5rem;
}

tbody tr:nth-of-type(even) {
    background: rgb(0,0,0,0.2);
}

tbody tr:nth-of-type(odd) {
    background: white
}

tbody tr:hover {
    background-color: gray;
}

form {
  width: fit-content;
}

label, input {
  width: 15rem;
  display: inline-block;
}