/mocked-backend/mocked.live.json
/nodejs/node_modules/
/*.pem
/*.ppk
/nodejs/aws-creds.json
/nodejs/package-lock.json
/nodejs/greenlock.d/config.json.bak
/frontend/.angular/
/.angular/
/.vscode/
/node_modules/
/.editorconfig
/package-lock.json
/dist/