<table mat-table matSort  (matSortChange)="sortData($event)" [dataSource]="rows">
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="action"></th>
    <td mat-cell *matCellDef="let row">
      <button mat-raised-button title='delete'  [hidden]="row.state !== 'display'" (click)='deleteBookmark(row)'>
        &#10060;
      </button>
      <button mat-raised-button title='undo' [hidden]="row.state !== 'deleted'" (click)='undoDeleteBookmark(row)'>
        &#x21a9;&#xfe0f;
      </button>
      <button mat-raised-button title='edit' [hidden]="row.state !== 'display'" (click)='editBookmark(row)'>
        E
      </button>
      <button mat-raised-button
        title='save'
        [hidden]="!['edit','new'].includes(row.state)"
        [disabled]="isRowInvalid(row)"
        (click)='saveEditBookmark(row)'>
        S
      </button>
      <button mat-raised-button title='cancel' [hidden]="!['edit','new'].includes(row.state)" (click)='cancelEditBookmark(row)'>
        C
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="site">
    <th mat-header-cell mat-sort-header="site" *matHeaderCellDef class="site">site</th>
    <td mat-cell *matCellDef="let row">
       <a [href]="row.website.url" [hidden]="['edit','new'].includes(row.state)">{{row.website.name}}</a>
       <span [hidden]="!['edit','new'].includes(row.state)">
        <mat-form-field>
          <mat-label>name</mat-label>
          <input matInput type="text" [(ngModel)]="row.copy.name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>url</mat-label>
          <input matInput type="url" [(ngModel)]="row.copy.url" />
        </mat-form-field>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell mat-sort-header="date" *matHeaderCellDef class="updated">updated</th>
    <td mat-cell *matCellDef="let row"> {{row.website.date.toLocaleDateString()}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<button mat-raised-button (click)='onAdd()'>Add favemark</button>
<button mat-raised-button (click)='onLogout()'>Log Out</button>