mat-card {
  max-width: 750px;
  margin: 0 auto;
}

mat-card-header div {
  margin: 0 auto;
  color: white;
}

form {
  width: 50%;
  margin: 0 auto;
}

form mat-form-field {
  display: block;
}

div {
  text-align: center;
  margin: 5px;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}